GEMINI_API_KEY=your-local-key
# APP_ENV can be 'dev', 'demo', or 'prod', comment and uncomment and uncomment sections to switch
# Development environment, using local environment variables    
APP_ENV=dev

# Demo environment, using environment variables from the hosting platform (e.g., Railway)
# APP_ENV=demo

# Production environment, using environment variables from the hosting platform (e.g., Railway)
# APP_ENV=prod
